<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить усулугу</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body id="page-top" class="d-flex flex-column min-vh-100">
<div id="wrapper" class="wrapper flex-grow-1">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="blocks/nav :: nav"></div>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Добавить услугу</h3>
                <div class="card shadow">
                    <div class="card-header py-3"></div>
                    <div class="card-body">
                        <form method="post" action="/services/add">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col">
                                    <p class="lead">Название</p>
                                    <input class="form-control" type="text" name="name" required="">
                                </div>
                                <div class="col">
                                    <p class="lead">Единица измерения</p>
                                    <input class="form-control" type="text" name="unit" required="">
                                </div>
                                <div class="col">
                                    <p class="lead">Цена за единицу измерения</p>
                                    <input class="form-control" type="number" name="price" step="1" min="1" max="1000"
                                           required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit" style="margin-right: 10px;">Добавить
                                    </button>
                                    <button class="btn btn-secondary" type="reset">Очистить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>